body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile{
  width: 250px;
  height: 250px;
}

.img-skills{
  width: 200px;
  height: 200px;
}

.img-skills:hover{
  width: 110%;
  height: 110%;
  transition: 1.5s;
}

.img-skills:not(:hover){
  width: 200px;
  height: 200px;
  transition: 1.5s;
}

.name{
  margin-top: 20px;
}

h1, h2{
  font-family: 'Courier New', Courier, monospace;
}
h3{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}